.navigation ul li * {
    list-style: none;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navigation ul li {
    display: inline;
    list-style: none;
}

.navigation ul li:hover {
    text-decoration: underline;
}

.nav-active{
    color: purple;
}